body {
    font-family: 'Lemonada', cursive;
    background: maroon;
    color: black;
    min-width: 960px;
    color:yellowgreen;

}

html {
    background: maroon;
}

.header {
    width: 960px;
    display: flex;
    justify-content: center;
    margin-left: 290px;
    text-decoration-line: underline;
}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
  }

.box {
    background-image: linear-gradient(yellowgreen,white)
}

li {
    margin-bottom: 40px;
}

.suggestions {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .suggestions li {
    background: white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  }
  
  .suggestions li:nth-child(even) {
    background: linear-gradient(to bottom,  #ffffff 0%,#000000 100%);
  }
  
  .suggestions li:nth-child(odd) {
    background: linear-gradient(to top,  #ffffff 0%,#000000 100%);
  }

  input {
  width: 50%;
  padding: 10px;
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #F7F7F7;
  font-size: 20px;
}