body {
    font-family: 'Lemonada', cursive;
    background: maroon;
    color: black;
    min-width: 960px;
    color:yellowgreen;

}

html {
    background: maroon;
}

.header {
    width: 960px;
    display: flex;
    justify-content: center;
    margin-left: 290px;
    text-decoration-line: underline;
}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
  }

.box {
    background-image: linear-gradient(yellowgreen,white)
}

li {
    margin-bottom: 40px;
}